<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
	<link href="css/style.css" rel="stylesheet">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<title></title>
</head>
<style>
    .boxContainer{
        background-color:#fdfdfd;
        border-radius: 10px;
        padding:20px 16px;
        margin:0px 20px;
        box-shadow:0 0px 9px 0 rgba(0,0,0,0.16),0 2px 0px 0 rgba(0,0,0,0.12)
    }
    .boxContainer2{
        background-color:#fdfdfd;
        border-radius: 10px;
        padding:20px 16px 20px 20px;
        margin:20px 20px;
    }
    .boxContainer3{
        background-color:#fefefe;
        border-radius: 10px;
        padding:20px 16px 20px 20px;
        margin:20px 20px;
    }
    .boxContainer4{
        background-color:#fcfcfc;
        padding:20px 16px;
        margin:0px 20px;
        box-shadow:0 0px 9px 0 rgba(0,0,0,0.16),0 2px 0px 0 rgba(0,0,0,0.12)
    }
    thead th{
        background-color : #6B757F;
        color:#FFFFFF;
    }
    .blankspace{
        margin-top: 20px;
    }
    table{
        margin: 0 auto;
        width: 100%;
        clear: both;
        border-collapse: collapse;
        table-layout: fixed; // ***********add this
        word-wrap:break-word; // ***********and this
    }
</style>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
  <link href="css/style.css" rel="stylesheet">
</head>


<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <div class="blankspace">
       <!--  <div class="boxContainer2" style="overflow-x:auto;"> -->
<!-- 
        <form action="#" th:action="'/proyek/'+${proyek_id}+'/kehadiran/update/submit'" method="post" th:object="${daftar_kehadiran}"> -->
            <img src="/img/icon_human_resources.png" style="max-width:5%;margin-top: -10px">
            <h2 style="display: inline; margin-left: 10px">Detail Pegawai</h2>
            <h5 class="alert alert-success" th:if="${notif!=null}"	th:text="${notif}"></h5>
            <hr>
            <ul class="nav nav-tabs" style="margin-left: 20px">
                <li class="active"><a data-toggle="tab" href="#home">Informasi Umum</a></li>
                <li><a data-toggle="tab" href="#menu1">Informasi Proyek</a></li>
                <li><a data-toggle="tab" href="#menu2">Performa dan Record</a></li>
                <div th:if="${user.role=='manager' or user.role=='hr' or user.role=='admin'}" id="kelola-akun"> 
                <a th:href="'/pegawai/ubah/'+${pegawai.id}" class="btn btn-warning btn-large"
                style="float: right; margin-top:0px ; margin-right: 50px;">Ubah Informasi</a>
                </div>
            </ul>

            <div class="tab-content">
                <div id="home" class="home tab-pane fade in active">
                 <div class="col-lg-1"></div>
                 <div class="col-lg-10">
                    <br>
                    <table style="width:100%" id="table" class="table table-striped table-bordered dataTable">
                        <tbody>
                            <tr>
                                <td style="width:50%" scope="row">No.Arsip</td>
                                <td style="width:100%" th:text="${pegawai.no_arsip}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%" scope="row">NIP</td>
                                <td style="width:100%" th:text="${pegawai.nip}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <h4>Data Pribadi</h4>
                    <table class="table table-striped table-bordered">

                        <tbody>

                            <tr>
                                <td style="width:50%" scope="row">Nama Lengkap</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nama_lengkap}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Nama Panggilan</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nama_panggilan}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Jenis Kelamin</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.gender}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Tanggal Lahir</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.tanggal_lahir}"></td>
                            </tr>

                            <tr>
                                <td style="width:50%">Status Marital</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.status_marital}"></td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%" scope="row">Alamat</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.alamat}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Region</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.region}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No Handphone</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nomor_handphone}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No Whatsapp</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nomor_whatsapp}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No Telepon Orang Terdekat</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.telepon_orang_terdekat}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <br>
                    <!-- <h5>No.Identitas</h5> -->
                    <h4>Nomor Identitas</h4>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%" scope="row">No.KTP</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.no_ktp}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%" scope="row">No.PKWT</td>
                                <td style="width:100%" th:text="${pegawai.pkwt}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No.NPWP</td>
                                <td style="width:100%" th:text="${pegawai.npwp}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No.BPJS Tenagakerja</td>
                                <td style="width:100%" th:text="${pegawai.bpjstk}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No.BPJS Kesehatan</td>
                                <td style="width:100%" th:text="${pegawai.bpjsk}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <br>
                    <h4>Informasi Rekening</h4>
                    <!-- <h5>Informasi Rekening</h5> -->
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%">Nama Bank</td>
                                <td style="width:100%" th:text="${pegawai.nama_bank}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">No.Rekening</td>
                                <td style="width:100%" th:text="${pegawai.no_rekening}"></td>
                            </tr>
                        </tbody>
                    </table>

                    <br>

                    <!-- <h5>Riwayat Pendidikan</h5> -->
                    <h4>Riwayat Pendidikan</h4>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%" scope="row">Pendidikan Terakhir</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.pendidikan_terakhir}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Nama Sekolah</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.nama_sekolah}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Tempat Sekolah</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.tempat_sekolah}"></td>
                            </tr>
                            <tr>
                                <td style="width:50%">Jurusan</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.jurusan}"></td>
                            </tr>
                            <tr>
                                <td style="width: 30%;">Tahun Lulus</td>
                                <td style="width:100%" th:text="${pegawai.pelamar_id.lulusan_tahun}"></td>
                            </tr> 
                               <!-- <tr>
                                <td style="width:100%" th:text="${#dates.format(#dates.createNow(), 'yyyy MMM dd ')}"></td>
                                <td style="width:100%" th:text="${pegawai.end_date}"></td>
                            </tr> -->
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-1"></div>

            </div>

            <div id="menu1" class="menu1 tab-pane fade">
                <div class="tablecontainer">
                    <div class="col-lg-1"></div>
                    <div class="col-lg-10">
                        <br>
                        <table class="table table-striped table-bordered">
                            <tbody>
                                <tr>
                                    <td style="width:50%" scope="row">Proyek</td>
                                    <div th:if="${pegawai.status}">
                                       <td style="width:100%" th:if="${pegawai.status}" th:text="${pegawai.proyek.nama_proyek}"></td>
                                   </div>
                                   <div th:unless="${pegawai.status}">
                                       <td style="width:100%" th:unless="${pegawai.status}">None</td>
                                   </div>
                               </tr>
                               <tr>
                                <td style="width:50%">Produk</td>
                                <td style="width:100%" th:if="${pegawai.status}" th:text="${pegawai.produk.nama_produk}"></td>
                                <td style="width:100%" th:unless="${pegawai.status}">None</td>
                            </tr>
                            <tr>
                                <td style="width:50%">Jabatan</td>
                                <td style="width:100%" th:if="${pegawai.status}" th:text="${pegawai.jabatan}"></td>
                                <td style="width:100%" th:unless="${pegawai.status}">None</td>
                            </tr>
                        </tbody>
                    </table>
                    <table class="table table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td style="width:50%">Join Date</td>
                                <td style="width:100%"  th:if="${pegawai.status}" th:text="${pegawai.join_date}"></td>
                                <td style="width:100%" th:unless="${pegawai.status}">-</td>
                            </tr>
                            <tr>
                                <td style="width:50%">End Date</td>
                                <td style="width:100%; color: red; "  th:if="${pegawai.status && expiredStatus == true}" th:text="${pegawai.end_date}"></td>
                                <td style="width:100%;"  th:if="${pegawai.status && expiredStatus == false}" th:text="${pegawai.end_date}"></td>
                                <td style="width:100%" th:unless="${pegawai.status}">None</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                </div>
                <div class="col-lg-1"></div>
                <div class="col-lg-12">
                    <div class="blankspace">
                        <div class="boxContainer" style="overflow-x:auto;">
                            <h4 style="display: inline; margin-left: 10px">Riwayat Kerja</h4>
                            <hr></hr>
                            <!--dropdown filter based on product-->
                            <table id="example4"  class="table table-striped table-bordered" style="width: 100%">
                                <thead>
                                    <th>Proyek</th>
                                    <th>Produk</th>
                                    <th>Start Date</th>
                                    <th>End Date</th>
                                </thead>
                                <tbody>
                                    <tr th:each ="listRiwayat: ${riwayatPegawai}">
                                        <td th:text="${listRiwayat.proyek}" ></td>
                                        <td th:text="${listRiwayat.produk}"></td>
                                        <td th:text="${listRiwayat.join_date}"></td>
                                        <td th:text="${listRiwayat.end_date}"></td>
                                    </tr>
                                    <tfoot>
                                        <th>Proyek</th>
                                        <th>Produk</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                    </tfoot>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>     

<div id="menu2" class="menu2 tab-pane fade">
<br>
<div style="width: 75%; margin:auto;">

                <div id="myDIV" class="boxContainer4 myDIV">
                <h4> Performa Kehadiran </h4>
                <hr></hr>
                <canvas id="canvas" style="display: inline-block;"></canvas>
                <h5 style="font-weight: bold; display: inline-block; " > Performa : </h5>
                <h4 th:if="${Meningkat}==true" th:text="${persentasePerforma}" style="font-weight: bold; display: inline-block; color: green"> </h4>
                <h4 th:if="${Meningkat}==false" th:text="${persentasePerforma}" style="font-weight: bold; display: inline-block; color: red"></h4>
                </div>

            <div style="width: 75%; margin:auto;">

                <div id="myDIV2" class="boxContainer4" style="display:none">

                <h4> Belum Terdapat Kehadiran Pegawai </h4>
                </div>
            </div>

        </div>
    <div class="data2 blankspace">
        <div class="boxContainer" style="overflow-x:auto;">
            <img src="/img/icon_building.png" style="max-width:5%;margin-top: -10px">
            <h4 style="display: inline; margin-left: 10px">Ulasan</h4>
            <button class="tambah btn btn-info btn-large" style="float: right; margin-right: 10px;" onclick="myFunction()">Tambah</button>
            <hr></hr>
            <!--dropdown filter based on product-->
               

            <table id="example4"  class="table table-striped table-bordered" style="width: 100%">
                <thead>
                    <th>Tanggal</th>
                    <th>Proyek</th>
                    <th>Feedback</th>
                    <th>Tindakan</th>
                </thead>
                <tbody>
                    <tr id="body-tabel-ulasan" th:each="feedback, itemStat : ${list_of_feedback}">
                        <td th:text="${feedback.tanggal_pengisian_feedback}">tanggal</td>
                        <td th:text="${feedback.proyek}">proyek</td>
                        <td th:text="${feedback.feedback}">feedback</td>
                        <td>
                            <a th:href="'/pegawai-detail/'+${pegawai.id}+'/feedback/update/'+${feedback.id}">Ubah</a>
                            <a data-toggle="modal" data-target="#hapus-feedback" th:attr="data-target='#hapus-feedback'+${feedback.id}">Hapus</a>
                        </td>
                         <div class="modal" th:id="'hapus-feedback'+${feedback.id}">
							<div class="modal-dialog modal-dialog-centered">
								<div class="modal-content">
			
									<!-- Modal Header -->
									<div class="modal-header">
										<h4 class="modal-title">Hapus Feedback Pegawai</h4>
										<button type="button" class="close" data-dismiss="modal">&times;</button>
									</div>
									<!-- Modal body -->
									<div class="modal-body text-center">Apakah Anda yakin untuk
										menghapus feedback pegawai?</div>
			
									<!-- Modal footer -->
									<div class="modal-footer">
										 <a type="button" class="btn btn-danger" th:href="@{'/pegawai-detail/'+${pegawai.id}+'/feedback/delete/'+${feedback.id}}">Ya</a>
										<button type="button" class="btn btn-danger" data-dismiss="modal">Tidak</button>
									</div>
								</div>
							</div>
						</div>
                    </tr>
                    <tfoot>
                        <th>Tanggal</th>
                        <th>Proyek</th>
                        <th>Feedback</th>
                        <th>Tindakan</th>
                    </tfoot>

                </tbody>
            </table>
        </div>
    </div>
<div class="blankspace" id="tambahDIV" style="display: none">
       <!--  <div class="boxContainer2" style="overflow-x:auto;"> -->
<form th:action="'/pegawai-detail/'+${pegawai.id}+'/feedback/submit'" method="post" th:object="${feedback}">

<div class="boxContainer2" style="overflow-x:auto;">
    <h4 style="display: inline; margin-left: 10px">Tambah Feedback</h4>
                <hr>
<div class="col-md-12"></div>
<div class="form-row">
      <div class="form-group col-md-2">
        <label for="inputProyek">Proyek</label>
        <select class="form-control" id="inputProyek" name="proyek" required>
          <option th:each="dp: ${daftar_proyek}"  th:value="${dp}" th:text="${dp}">aaaaaa
          </option>
      </select>
      </div>
    <div class="form-group col-md-2">
      <label for="inputJoinDate">Tanggal Feedback</label>
      <input type="Date" class="form-control getdate" name="tanggal_pengisian_feedback" required>
    </div>
    
      <div class="form-group col-md-7">
        <label for="inputEndDate">Feedback</label>
      <input type="text" class="form-control" name="feedback" required>
      </div>
    <div class="col-md-1"></div>
    <input type="hidden" th:value="${pegawai.id}"  class="form-control" name="pegawai_outsourcing" required>
    <button type="submit" class="btn btn-success btn-large" style="margin-left: 5px; margin-top: 23px">Simpan</button>
</div>
</div>
<div class="col-sm-12"></div>

  </form>
</div>
</div>
</div>
<div class="blankspace">
    <div class="col-lg-12">
        <a class="btn btn-danger btn-large" th:href="@{'/pegawai'}">Kembali</a>
        <a class="btn btn-success btn-large" th:href="@{'/pegawai-detail/'+${pegawai.id}+'/print-format'}">Print Pegawai</a>
    </div>
    </div>
    <div class="blankspace">
    </div>
        <script type="text/javascript" src="/media/js/site.js?_=994321fabf3873df746bb8bbccd1886a"></script>
        <script type="text/javascript" src="/media/js/dynamic.php?comments-page=extensions%2Fbuttons%2Fexamples%2Fstyling%2Fbootstrap.html" async></script>
        <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.bootstrap.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.html5.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.print.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/1.5.6/js/buttons.colVis.min.js"></script>
        <script type="text/javascript" language="javascript" src="../../../../examples/resources/demo.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="https://www.chartjs.org/dist/2.8.0/Chart.min.js"></script>
        <script src="https://www.chartjs.org/samples/latest/utils.js"></script>
        <script type="text/javascript" class="init"></script>
    </body>
    <footer>

    </footer>
    </html>
    <script th:inline="javascript">
    /*<![CDATA[*/
    $('.tambah').click(function(e){
        e.preventDefault();
    });

    function myFunction(e) {
      var x = document.getElementById("tambahDIV");
      if (x.style.display === "block") {
        x.style.display = "none";
      } else {
        x.style.display = "block";
      }
        
        // $( "div.menu2" ).replaceWith('<div id="menu2" class="menu2 tab-pane fade in active">' + y +'');
    } 
    $(document).ready(function() {

    var label = [];
    var kehadiran = [];
    var sakit =[];
    var izin =[];
    var absen = [];

    var y = [[${panjangKehadiran}]];

    if (y>0){
        var z = /*[[${kehadiranPegawai}]]*/;
        for (i=0; i<y; i++){
            label[i]=z[y-1-i].judul_kehadiran;
            kehadiran[i]=z[y-1-i].jumlah_kehadiran;
            izin[i]=z[y-1-i].jumlah_izin;
            absen[i]=z[y-1-i].jumlah_absen;
            sakit[i]=z[y-1-i].jumlah_sakit;
        }
    }
    else{
        var toHide = document.getElementById("myDIV");
        toHide.style.display = "none";
        var toShow = document.getElementById("myDIV2");
        toShow.style.display = "block";
    }

    var barChartData = {
            labels: label,
            datasets: [{
                label: 'Kehadiran',
                backgroundColor: '#9ADBF9',
                data: kehadiran,
            }, {
                label: 'Sakit',
                backgroundColor: '#F9CD9A',
                data: sakit,
            }, {
                label: 'Izin',
                backgroundColor: '#FFA41C',
                data: izin,
            }, {
                label: 'Tanpa Keterangan',
                backgroundColor: '#FFB19F',
                data: absen,
            }]

        };
            var ctx = document.getElementById('canvas').getContext('2d');
            window.myBar = new Chart(ctx, {
                type: 'bar',
                data: barChartData,
                options: {
                    responsive: true,
                    legend: {
                        position: 'top',
                    },
                }
            });
    // Setup - add a text input to each footer cell
    $('a[data-toggle="tab"]').on( 'shown.bs.tab', function (e) {
        $.fn.dataTable.tables( {visible: true, api: true} ).columns.adjust();
    } );

    var table4 = $('#example4').DataTable( {
        "scrollY": "500px",
        "sScrollX": "100%",
        "sScrollXInner": "100%",
        "scrollCollapse": true,
        autoWidth: true,
        columnDefs: [
        { "width": "180px", "targets": [0,1] },
        { "width": "130", "targets": [2,3,4,5,6,7,8,9,10,11,12,13] },
        ],
        buttons: [
        'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        exportOptions: {
          rows: ':visible'
      }
  } );

    table4.buttons().container()
    .appendTo( '#example4_wrapper .col-sm-12:eq(0)' );
} );

        $('#example4 tbody').on( 'click', 'tr', function () {
            $(this).toggleClass('active');
        } );

        $('#example4 tfoot th').each( function () {
            var title = $(this).text();
            $(this).html( '<input type="text" style="width:100%" placeholder="Search '+title+'" />' );
        } );



        $('#myModal').on('shown.bs.modal', function () {
          $('#myInput').trigger('focus')
      });



/*]]>*/
  </script>