<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.5.6/css/buttons.bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="css/style.css" rel="stylesheet">
    <title></title>
</head>
<style>
    .boxContainer{
        background-color:#fdfdfd;
        border-radius: 10px;
        padding:20px 16px;
        margin:0px 20px;
        box-shadow:0 0px 9px 0 rgba(0,0,0,0.16),0 2px 0px 0 rgba(0,0,0,0.12)
    }
    .boxContainer2{
        background-color:#fdfdfd;
        border-radius: 10px;
        padding:20px 16px 20px 20px;
        margin:20px 20px;
    }
    .boxContainer3{
        background-color:#fefefe;
        border-radius: 10px;
        padding:20px 16px 20px 20px;
        margin:20px 20px;
    }
    .boxContainer4{
        background-color:#FFFFFF;
        padding:20px 16px;
        margin:0px 20px;
        box-shadow:0 0px 9px 0 rgba(0,0,0,0.16),0 2px 0px 0 rgba(0,0,0,0.12)
    }
    thead th{
        background-color : #6B757F;
        color:#FFFFFF;
    }
    .blankspace{
        margin-top: 20px;
    }
    table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed; // ***********add this
    word-wrap:break-word; // ***********and this
    }
</style>
<body style="background-color:#fefefe">
<nav th:replace="fragments/fragment :: navbar"></nav>
<!-- <h3>REEEEEE</h3> -->
    <div class="blankspace">
    <div class="row">
    <div class="col-md-10">
       <div class="boxContainer4" style="overflow-x:auto;">
                <img src="/img/icon_human_resources.png" style="max-width:4%;margin-top: 0px">
                <h2 style="display: inline;margin-left: 10px; margin-top:3px;" th:text=" 'Selamat Datang di SIMOS, ' + ${user.name} + ' !'" ></h2>
       </div>
	</div>
	 <div class="col-md-2">
		<a th:if="${user.role=='manager' or user.role=='hr' or user.role=='admin'}" id="kelola-akun" class="btn btn-warning btn-large" style="padding-right:20px; width:80%; height:84px; font-size:15px; text-align: center;" th:href="@{'/account/list'}">
		<i class="fa fa-address-card" style="font-size:36px"></i><br>Kelola Akun</br></a>
	</div>
	</div>
	<br>
	<div class="row">
    <div class="col-md-3">
    	<div class="boxContainer4" style="overflow-x:auto;">
		<h3>Informasi Sistem</h3>
		<hr>
		<div>
			<h4>Pelamar : </h4>
			<h3 style="display:inline-block" th:text="${#lists.size(pelamar)}+'/5000'"></h3>
		</div>
		<div>
			<h4>Pegawai : </h4>
			<h3 style="display:inline-block" th:text="${#lists.size(pegawai)}+'/3000'"></h3>
		</div>
		<div>
			<h4>Proyek : </h4>
			<h3 style="display:inline-block" th:text="${#lists.size(proyek)}+' Proyek'"></h3>
			<h4></h4>
		</div>
		</div>
	</div>
		
	<div class="col-md-9">
		<div class="boxContainer4" style="overflow-x:auto; margin-left:-20px; margin-bottom:10px; margin-right:40px">
		<h3 style="display:inline-block;" >Kelola Proyek</h3>
		<a th:href="@{/proyek}" class="btn btn-info btn-large" style="margin-right:1%; float:right; ">Lihat Proyek</a>
		<a th:if="${user.role=='manager' or user.role=='busdev' or user.role=='admin'}"  style="margin-right:1%; float:right" th:href="@{/proyek-tambah}" class="btn btn-primary btn-large">Tambah Proyek</a>

		<hr>
				
			<table style="padding:10px" class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>No Proyek</th>
						<th>Nama Proyek</th>
						<th>Region</th>
						<th>Kontak CP</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="proyek_proyek, itemStat : *{proyek}">
						<td th:text="${proyek_proyek.id}">wuRYYYYYYYYYY</td>
                              <td th:text="${proyek_proyek.nama_proyek}">wuRYYYYYYYYYY</td>
                              <td th:text="${proyek_proyek.region}">wuRYYYYYYYYYY</td>
                              <td th:text="${proyek_proyek.no_telp_cp}">wuRYYYYYYYYYY</td>								
					</tr>	
				</tbody>
			</table>
		</div>
	</div>
	<br>
	<div class="row">
	 	<div class="col-md-12"></div>
	    <div class="col-md-3" style="text-align: center;">
			<a th:if="${user.role=='manager' or user.role=='busdev' or user.role=='admin'}" th:href="@{'/produk'}" class="btn btn-warning btn-large" style="margin-left:10px; margin-top:25px; width:80%; height:84px; font-size:15px; text-align: center;"><i class="fa fa-group" style="font-size:36px"></i><br>Kelola Produk</a>
			<br>
			<a class="btn btn-success btn-large" style="margin-left:10px; margin-top:25px; width:80%; height:84px; font-size:15px; text-align: center;" th:href="@{/variable-gaji}"><i class="fa fa-percent" style="font-size:36px"></i><br>Variable Gaji</a>
			<br>
			<a href="http://bit.ly/UserManualSimos" class="btn btn-info btn-large" style="margin-left:10px; margin-top:25px; width:80%; height:84px; font-size:15px; text-align: center;"><i class="fa fa-file-text-o" style="font-size:36px"></i><br>Lihat User Manual</a>
		</div>
			
		
		<div class="col-md-9">
		<div class="boxContainer4" style="overflow-x:auto; margin-top:20px; margin-left:-10px; margin-right:50px">
		<h3 style="display:inline-block;" >Kelola Pelamar</h3>
		<a th:href="@{/pelamar/}" class="btn btn-info btn-large" style="float:right; margin-right:1%">Lihat Pelamar</a>
		<a th:if="${user.role=='manager' or user.role=='hr' or user.role=='admin'}" th:href="@{/pelamar/daftar}" style="float:right; margin-right:1%" class="btn btn-primary btn-large">Tambah Pelamar</a>

		<hr>
				
			<table style="padding:10px" class="table table-striped table-bordered" id="example">
				<thead>
					<tr>
						<th>Daftar Pada</th>
						<th>Nama Lengkap</th>
						<th>Region</th>
						<th>No HP</th>
						<th>Produk</th>	
					</tr>
				</thead>
				<tbody>
					<tr th:each="pelamar_pelamar, itemStat : *{pelamar}">
						<td th:text="${pelamar_pelamar.apply_date}">wuRYYYYYYYYYY</td>
                              <td th:text="${pelamar_pelamar.nama_lengkap}">wuRYYYYYYYYYY</td>
                              <td th:text="${pelamar_pelamar.region}">wuRYYYYYYYYYY</td>
                              <td th:text="${pelamar_pelamar.nomor_whatsapp}">wuRYYYYYYYYYY</td>
                              <td th:text="${pelamar_pelamar.produk_dilamar}">wuRYYYYYYYYYY</td>								
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
<footer>

</footer>
	
</html>
